<h2>Departments List</h2>

<div>
	<a routerLink="/departments/create">Create New</a>
</div>

<table border="1">
	<thead>
	<tr>
		<th>ID</th>
		<th>Title</th>
		<th>Actions</th>
	</tr>
	</thead>

	<tbody>
	<tr *ngFor="let department of departments">
		<td>{{ department.id }}</td>
		<td>{{ department.title }}</td>
		<td><a [routerLink]="'/departments/update/' + department.id">Edit</a></td>
	</tr>
	</tbody>
</table>
