<h2>Create department</h2>

<div>
	<input [(ngModel)]="title" placeholder="Enter title"/>

	<br/>
	<br/>
	<button type="button" (click)="submit()" *ngIf="id === null">Create</button>
	<button type="button" (click)="submit()" *ngIf="id !== null">Update</button>
</div>
